body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
<<<<<<< HEAD
    color: #fff;
=======
>>>>>>> parent of a92116b (Update styles.css )
}
header, footer {
    background: #333;
    color: #005127;
    text-align: center;
    padding: 1em;
}
nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
main {
    padding: 20px;
}